<a href="https://colab.research.google.com/github/srinivasan-ES/Python/blob/main/Basic_Phython_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Python Program to Print Hello world!***

In [1]:
print('Hello World!')

Hello World!

***Python Program to Add Two Numbers***

In [2]:
a=10
b=20
print(a+b)

30

***Python Program to Find the Square Root***

In [3]:
import math
print(math.sqrt(100))

10.0

***Python Program to Calculate the Area of a Triangle***  Area = b*h/2

In [4]:
b =10
h= 20
print((b*h)/2)

100.0

Python Program to Generate a Random Number***italicised text***

In [7]:
a =10
b=20

def swap(a,b):
  temp =b
  b=a
  a=temp
  print(a,b)

swap(a,b)

20 10

***Python Program to Generate a Random Number***

In [13]:
import random
print(random.randint(1,30))

23

***Python Program to Convert Kilometers to Miles***

In [16]:
km=1000;
miles =km*0.6213711922
print(miles)

621.3711922

***Python Program to Check if a Number is Positive, Negative or 0***

In [20]:
x=0
if x>0: print("positive")
elif x==0:
  print("zero")
else:
  print("Negative")

zero

***Python Program to Check if a Number is Odd or Even***

In [21]:
x=2
if x%2==0:
  print("even")
elif x%2!=0:
  print("odd")

even

***Python Program to Check Leap Year***

In [22]:
x=1995
if x%4==0:
  print("leap Year")
else:
  print("Not Leap Year")

Not Leap Year

***Python Program to Find the Largest Among Three Numbers***

In [23]:
x=8
y=10
z=25
max = x if x>y and x>z else b if y>z else z
print(z)

25

***Python Program to Check Prime Number***

In [24]:
z =5
if z==1 or z%2!=0 :
  print("prime number")
else:
  print("Not Prime Number")

prime number

***Python Program to Find the Factorial of a Number***

In [1]:
def fact(num):
  if num==1:
    return 1
  return num*fact(num-1);
print(fact(5))

120

***Python Program to Display the multiplication Table***

In [6]:
for i in range(1,6):
  for j in range(1,11):
    print((i*j))

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

***Python Program to Print the Fibonacci sequence*** 1,1,2,3,5,8,13,

In [10]:
x=1
y=1
n=5
for i in range(1,7):
  temp=x
  x=x+y
  y=temp
print(y)

13

***Python Program to Check Armstrong Number***

In [21]:
print('dsfsfs')
x =153

dsfsfs

TypeError: 'str' object is not callable