<a href="https://colab.research.google.com/github/srinivasan-ES/Python/blob/main/Phython_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("new Language Learning Beginning")

new Language Learning Beginning

In [2]:
x =10;
print(x)
type(x)

10

int

In [5]:
y = 0X01
print(y)
type(y)

1

int

In [10]:
bin(x)
hex(x)
oct(x)

'0o1'

In [12]:
z =True
print(z)
type(z)

True

bool

In [14]:
str = 'I am srini'
print(str)
type(str)

I am srini

str

In [15]:
str1 = """This is new language language
begininng"""
print(str1)
type(str1)

This is new language language
begininng

str

In [27]:
print(str[0])
print(str[:40])
print(str[:])
print(str[:-1])
print(str*3)
print(len(str))
char = 'a'
print(char)
type(char)

I
I am srini
I am srini
I am srin
I am sriniI am sriniI am srini
10
a

str

In [31]:
a = 10
b=20
print(id(a))
print(id(b))
a is b

11642376
11642696

False

// Bytes -  we can't change the values if you try to change it we will get an error TypeError: '**bytes**' object does not support item assignment . we can use **bytearray** if you want to change the values in between the program

In [38]:
x =[10,20,30,40,50]
b =bytes(x)
print(b[0])
byteArray = bytearray(x);
print(byteArray[0])
byteArray[0]=30
print(byteArray[0])

10
10
30

 // List - duplicates are allowed , group of objects in a single entity is called as list . insertion order is preserved as same like java

In [54]:
list = [10,20,30,40,50]
print(list[-1])
print(list[1:])
print(list[-1])
list.append([100,"srini"])
for i in list:
  print(i)
list.remove([100,"srini"])
list=list*2
for i in list:
  print(i)

50
[20, 30, 40, 50]
50
10
20
30
40
50
[100, 'srini']
10
20
30
40
50
10
20
30
40
50

// Tuple - immutable datatype . it is as same like list we can't assign or remove or change or we can't do anything just we need to read it

In [61]:
tupe = (10,20,30,40,50)
print(tupe)
print(type(tupe))
print(tupe[0])
tupe.append(70)

(10, 20, 30, 40, 50)
<class 'tuple'>
10

AttributeError: 'tuple' object has no attribute 'append'

// Range - also unmodifiable . we can't assign the values for this range

In [108]:
r =range(10)
for i in r :
  print(i)
print('next range form')
r =range(10,20,2)
for i in r :
  print(i, end=" ")

0
1
2
3
4
5
6
7
8
9
next range form
10 12 14 16 18

In [110]:
set = {10,20,30,40,50}
set.add(60)
print(set)
set.remove(10)
fs = frozenset(set);
for i in fs:print(i)
del set
fs.add(80)

{50, 20, 40, 10, 60, 30}
50
20
40
60
30

AttributeError: 'frozenset' object has no attribute 'add'

None: like null in java

In [92]:
x= 10
y=10
print(x**y)

10000000000

// and / - > / - always return floating value
// - it will return based on input we are passing . if we pass any one parameter as float then the result will be floating point

In [94]:
print(x/y)
print(x//y)

1.0
1

in java - arithmetic exception for 10/0 but zeroDivisionErr in py

and or not(py) - && , || ,!(java)

**Bitwise Operation ** : **&,|,^,~,<<,>>**
bit wise will support only int and bool (if we are trying t do it in any other dtype will get an error )

In [97]:
x = int(input("enter the number"))
b= int(input("enter the number"))
c= int(input("enter the number"))
max =x if x>b and x>c else b if b>c else c
print(max)

enter the number1
enter the number5
enter the number7
7

 we can use is operator

is , not  - address comparison
== , != -  content comparison

instead of contains in java we can use in operator to check whteher that object present in the list,tuple,string etc

In [101]:
import math as m
print(m.sqrt(116))
print(m.pi*2)
print(m.factorial(5))
print(m.pow(2,4))
print(2**4)

10.770329614269007
6.283185307179586
120
16.0
16

In [103]:
from math import sqrt,pi
print(pi*(16**2));

804.247719318987

Q. Write a program to read Employee data from the keyboard and print that data.

In [104]:
employee_id = int(input("Enter the employee id "))
employee_name = input("enter the employee name")
employee_age = int(input("enter the employee age "))
print('employee id  : ' , employee_id)
print('employee name  : ' , employee_name)
print('employee age  : ' , employee_age)

Enter the employee id 123
enter the employee nameabc
enter the employee age 20
employee id  :  123
employee name  :  abc
employee age  :  20

Q. Write a program to read 3 float numbers from the keyboard with , seperator and print
their sum.

In [107]:
a,b,c = [ float(x) for x in input("enter 3 float values ").split(",")]
print(a+b+c);

enter 3 float values 10,10,10
30.0

In [118]:
s = "Phython is the programming lanugage"
print(s[:-1])
print(s[1:8:2])
print(s[::])
print(s[::-1])
for i in s[::-1]:
  print(i,end=" ")
print()
print('t' in s)

Phython is the programming lanugag
hto
Phython is the programming lanugage
egagunal gnimmargorp eht si nohtyhP
e g a g u n a l   g n i m m a r g o r p   e h t   s i   n o h t y h P
True

trim in java  =  strip in python

In [131]:
str ="   stringing   "
print(str.strip())
print(str.rstrip())
print(str.lstrip())

stringing
   stringing
stringing

index in string java = find & index (find - if data is not available then will get -1  ) (index = if data is not available then will get error )

In [132]:
print(str.rfind('i'))
print(str.find('i'))
print(str.rindex('i'))
print(str.index('i'))
print(str.count('i'))
str1= str.replace(" ","io")
print(str1)

9
6
9
6
2
ioioiostringingioioio

In [136]:
from types import new_class
new_String = " I am new learner for python "
s= new_String.strip().split();
print(len(s))
for i in s:
  print('-'.join(i))

6
I
a-m
n-e-w
l-e-a-r-n-e-r
f-o-r
p-y-t-h-o-n

In [140]:
s= 'MY NAME IS SRINIVASAN '
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

MY NAME IS SRINIVASAN
my name is srinivasan
my name is srinivasan
My Name Is Srinivasan
My name is srinivasan

format the string

In [159]:
name ="srini"
salary= "0"
print("{}'s salary is {} ".format(name,salary))

srini's salary is 0

reverse order the string

In [161]:
strk =" My NAME IS sRINIVASAN"
strsplit = strk.split();
print(len(strsplit))
strlength = len(strsplit);
strlength= strlength-1;
new_list=[]
while(strlength>=0):
  new_list.append(strsplit[strlength])
  strlength =strlength-1
new_str_string = " ".join(new_list)
print(new_str_string)

TypeError: 'int' object is not callable